
/*  bhoechie tab */
div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 280px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

    div.bhoechie-tab-menu div.list-group {
        margin-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group > a {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a .glyphicon,
            div.bhoechie-tab-menu div.list-group > a .fa {
                color: #3875A0;
            }

            div.bhoechie-tab-menu div.list-group > a:first-child {
                border-top-right-radius: 0;
                -moz-border-top-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a:last-child {
                border-bottom-right-radius: 0;
                -moz-border-bottom-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a.active,
            div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
            div.bhoechie-tab-menu div.list-group > a.active .fa {
                background-color: #3875A0;
                background-image: #3875A0;
                color: #ffffff;
            }

                div.bhoechie-tab-menu div.list-group > a.active:after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    margin-top: -13px;
                    border-left: 0;
                    border-bottom: 13px solid transparent;
                    border-top: 13px solid transparent;
                    border-left: 10px solid #3875A0;
                }

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.btn-gosocket, .btn-gosocket:hover, .btn-gosocket:focus {
    background-color: #3875A0;
    border-color: #3875A0;
    color: #ffffff;
}

.container {
    padding: 50px;
    padding-top: 10vh;
    position: relative;
}

    .container .content-sm {
        min-width: 270px;
        margin: 0 auto;
        position: relative;
    }


.alert-primary {
    background-color: #579ddb;
    border-color: transparent;
    color: #fff;
}

.alert-success {
    background-color: #3875A0;
    border-color: transparent;
    color: #fff;
}

.alert-warning {
    background-color: #f2b251;
    border-color: transparent;
    color: #fff;
}

div a, div a:hover {
    /*font-size: 18px !important;*/
    color: #fff;
    /*text-align: justify !important;*/
}

div.alert-primary {
    font-size: 18px !important;
    color: #fff;
    text-align: center !important;
}

.text-left {
    text-align: left;
}
