{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Dashboard {% endblock %}</title>

    <meta name="description" content="dian">
    <meta name="keywords" content="dian" />
    <meta name="author" content="Gosocket Corp SpA">
    <link rel="shortcut icon" href="{% static 'Content/img/favicon_dian.ico' %}">

    <link href="{% static 'Content/css/nifty.min.css' %}" rel="stylesheet">
    <link href="{% static 'Content/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Content/plugins/font-awesome/css/font-awesome.min.css?v=4.7.0' %}" rel="stylesheet">
    <link href="{% static 'Content/css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Content/css/login-new-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Content/css/app-new-style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800" rel="stylesheet"
        type="text/css">
    {%block extra_css%}{%endblock%}
</head>

<body>

    <style>
        .header-gov {
            display: flex;
            align-items: center;
            height: 48px;
            background: #3366CC;
            padding-left: 62px;
        }

        .header-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 107px;
            background: #fff;
            padding: 0 50px 0 62px;
            border-bottom: 2px solid #0DB4DC;
        }

        .header-logo div:not(.header-linea-divisoria) {
            display: flex;
            align-items: center;
        }

        .header-linea-divisoria {
            display: inline-block;
            height: 40px;
            width: 1px;
            border: none;
            background: #A6ADB4;
            margin: 0 29px;
        }

        .header-title {
            font-weight: bold;
            font-size: 16px;
        }
    </style>

    <div class="header-gov">
        <img src="{% static 'Content/img/Gov.co.png' %}" height="21" />
    </div>
    <div class="header-logo">
        <div>
            <img src="{% static 'Content/img/Sistema_Facturacion_Logo.png' %}" height="40" />
            <div class="header-linea-divisoria"></div>
            <a href="{% url 'login' %}">
                <img src="{% static 'Content/img/Dian_logo_sin_texto.jpg' %}" height="40" />
            </a>
        </div>
        <span class="header-title"></span>
        <img src="{% static 'Content/img/Minhacienda_Logo_blanco.png' %}" height="40" />
    </div>





    <div class="login-wrapper">
        <div class="bhoechie-tab-menu">
            <div class="list-group">
                <!-- admin -->
                <a href="{% url 'login' %}" class="list-group-item text-center {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                    <img src="{% static 'Content/img/login-icons/Administrator.svg' %}" /> <br> Administrador
                </a>

                <!-- company -->
                <a href="{% url 'company_login' %}" class="list-group-item text-center {% if request.resolver_match.url_name == 'company_login' %}active{% endif %}">
                    <img src="{% static 'Content/img/login-icons/Company.svg' %}" /> <br> Empresa
                </a>

                <!-- external user -->


                <!-- person -->
                <a href="{% url 'person_login' %}" class="list-group-item text-center {% if request.resolver_match.url_name == 'person_login' %}active{% endif %}">
                    <img src="{% static 'Content/img/login-icons/Person.svg' %}" /> <br> Persona
                </a>

                <!-- Not obliged to invoice -->
                <a href="{% url 'not_obliged_invoice' %}" class="list-group-item text-center {% if request.resolver_match.url_name == 'not_obliged_invoice' or request.resolver_match.url_name == 'not_obliged_invoice_company'%}active{% endif %}">
                    <img src="{% static 'Content/img/login-icons/NotObligued.svg' %}" /> <br> No Facturador
                </a>

                <!-- certificate -->
                <a href="" class="list-group-item text-center certificate-login-link">
                    <img src="{% static 'Content/img/login-icons/Certificate.svg' %}" /> <br> Certificado
                </a>

                <a href="{% url 'search_document' %}" class="list-group-item text-center {% if request.resolver_match.url_name == 'search_document' %}active{% endif %}">
                    <img src="{% static 'Content/img/login-icons/SearchDocument.svg' %}" /> <br> Buscar Documento
                </a>
            </div>
        </div>

        {%block content%}
        
        {%endblock%}
        
    </div>



    <style>
        footer {
            background: #3366CC;
            margin: 40px 0 0;
            padding: 40px 90px 40px 150px;
            color: #fff;
            font-family: 'Work Sans';
        }

        footer div.row {
            margin: 0;
            display: flex;
        }

        footer a {
            text-decoration: underline;
        }

        footer p:not(.text-bold) {
            margin-bottom: 4px;
            font-size: 12px;
        }

        footer p.text-bold {
            font-size: 14px;
        }

        footer div.col-sm-4:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 0px;
            padding-right: 30px;
        }

        footer div.col-sm-4:nth-child(2) {
            border: 1px solid #A6ADB4;
            border-top: 0;
            border-bottom: 0;
            padding: 0 30px;
        }

        footer div.col-sm-4:nth-child(3) {
            padding-left: 30px;
            padding-right: 0px;
        }

        .social-button img {
            height: 35px;
        }

        .mr-8 {
            margin-right: 8px;
        }
    </style>
    <footer>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="{% static 'Content/img/Gov.co.png' %}" height="21" />
                <img class="text-center" src="{% static 'Content/img/colombia_marca.png' %}" height="48"
                    style="display: block; margin-top: 12px" />
            </div>
            <div class="col-sm-4">
                <p class="text-bold">Dirección de Impuestos y Aduanas Nacionales</p>
                <p>Dirección: Sede principal | Bogotá, Nivel Central, carrera 8 Nº 6C - 38 Edificio San Agustín</p>
                <p>Código Postal: 111711</p>
                <p>Horario Contact Center: Lunes a Viernes 8:00 a.m. a 7:00 p.m. y Sábados de 8:00 a.m. a 12:00 m</p>
                <div style="margin-top: 24px">
                    <a class="social-button" href="#" target="_blank" title="Twitter"><img
                            src="{% static 'Content/img/social-icons/Twitter.svg' %}" alt="Twitter" /></a>
                    <a class="social-button" href="#" target="_blank" title="Youtube"><img
                            src="{% static 'Content/img/social-icons/YouTube.svg' %}" alt="Youtube" /></a>
                    <a class="social-button" href="#" target="_blank" title="LinkedIn"><img
                            src="{% static 'Content/img/social-icons/LinkedIn.svg' %}" alt="LinkedIn" /></a>
                    <a class="social-button" href="#" target="_blank" title="Facebook"><img
                            src="{% static 'Content/img/social-icons/Facebook.svg' %}" alt="Facebook" /></a>
                    <a class="social-button" href="#" target="_blank" title="Instagram"><img
                            src="{% static 'Content/img/social-icons/Instagram.svg' %}" alt="Instagram" /></a>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-bold"><i class="fa fa-phone mr-8"></i> Contacto a nivel nacional</p>
                <p> PBX (571) 607 99 99 </p>
                <p> PBX (571) 382 45 00 </p>
                <p> PBX (571) 607 98 00 </p>
                <p> Servicio en Línea de Contacto </p>
                <p>
                    <a href="#">PQSR y Denuncias</a> | <a href="#">Llamada en Línea</a> | <a href="#">Puntos de
                        Contacto</a>
                </p>
                <p>Contact Center Teléfono: 057(1) 3556922</p>
                <p>Línea de atención Aduanera 3556924</p>
                <p>
                    <a href="#">Política de privacidad de uso</a> |
                    <a href="#">Política de tratamiento de datos personales</a> |
                    <a href="#">Política de seguridad de la información</a> |
                    <a href="#">Notificaciones judiciales</a> |
                    <a href="#">Mapa del sitio</a>
                </p>
            </div>
        </div>
    </footer>


    <style>
        .flex-direction-column {
            width: 100%;
            flex-direction: column;
        }

        div#confirmModal .modal-dialog,
        div#errorModal .modal-dialog,
        div#successModal .modal-dialog {
            /*width: 678px !important;*/
            margin: auto !important;
            /*top: 50% !important;
        transform: translateY(-50%) !important;*/
        }

        div#confirmModal .modal-content,
        div#errorModal .modal-content,
        div#successModal .modal-content {
            border-radius: 6px !important;
            padding: 25px !important;
        }

        div#confirmModal .close,
        div#errorModal .close,
        div#successModal .close {
            margin: 0 !important;
            font-size: 32px !important;
            opacity: inherit !important;
            color: #262944 !important;
        }

        div#confirmModal .modal-body,
        div#errorModal .modal-body,
        div#successModal .modal-body {
            padding: 0 12px !important;
        }

        div#confirmModal .modal-footer,
        div#errorModal .modal-footer,
        div#successModal .modal-footer {
            padding: 0 12px 15px !important;
        }

        div#confirmModal #confirmModal-title {
            margin: 30px 0 20px 0;
            text-align: center !important;
        }

        div#confirmModal #confirmModal-message,
        div#errorModal #errorModal-message,
        div#successModal #successModal-message {
            font-family: 'Ubuntu';
            font-size: 14px;
            line-height: 22px;
            color: #2b323d;
            margin-bottom: 30px;
        }

        div#errorModal #errorModal-message {
            color: #F54E41;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 0 !important;
        }

        div#errorModal .dian-alert {
            width: 80% !important;
        }
    </style>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" style="z-index: 2000 !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-body flex-direction-column align-items-center justify-content-center">
                    <img height="170" src="{% static 'Content/Images/icon-warning.svg' %}" />
                    <span id="confirmModal-title" class="sub-title">Titulo</span>
                    <p id="confirmModal-message"></p>
                </div>
                <div class="modal-footer text-center">
                    <button id="confirmModal-confirm-button" class="btn btn-primary">Confirmar</button>
                    <button id="confirmModal-cancel-button" class="btn btn-secondary ml-32" data-dismiss="modal"
                        aria-label="Close">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" style="z-index: 2000 !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-body flex-direction-column align-items-center justify-content-center">
                    <img height="170" src="{% static 'Content/Images/icon-warning-warn.svg' %}" />
                    <div class="dian-alert dian-alert-danger flex-direction-column align-items-center mt-28">
                        <span id="errorModal-title" class="sub-title text-center">Titulo</span>
                        <p id="errorModal-message" style="word-break: break-all;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" style="z-index: 2000 !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-body flex-direction-column align-items-center justify-content-center">
                    <img height="170" src="{% static 'Content/Images/icon-check-confirmation.svg' %}" />
                    <span id="successModal-title" class="sub-title text-center">Titulo</span>
                    <p id="successModal-message"></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ConfirmDialogV2(title, message, buttons, confirmCallback, cancelCallback = null) {
            $("#confirmModal-title").text(title || "¿Está seguro que desea realizar esta operación?");
            $("#confirmModal-message").html(message || "");
            $("#confirmModal-confirm-button").text(buttons?.confirm ?? "Confimar");
            $("#confirmModal-cancel-button").text(buttons?.cancel ?? "Cancelar");

            $("#confirmModal").modal("show");
            const modalBackDropLast = $(".modal-backdrop").length - 1;
            //$(".modal-backdrop").get(modalBackDropLast).style['z-index'] = 1995;

            $("#confirmModal-confirm-button").on('click', () => {
                if (confirmCallback != null) {
                    confirmCallback();
                }
                $("#confirmModal").modal("hide");
                removeOkClickEvent();
            });
            $("#confirmModal-cancel-button").on('click', () => {
                if (cancelCallback != null) {
                    cancelCallback();
                }
                removeOkClickEvent();
            });
            $("#confirmModal").find(".close").on('click', () => {
                if (cancelCallback != null) {
                    cancelCallback();
                }
                removeOkClickEvent();
            });
            $('#confirmModal').on('hidden.bs.modal', () => {
                removeOkClickEvent();
            });
        }
        function removeOkClickEvent() {
            $("#confirmModal-confirm-button").off();
            $("#confirmModal-cancel-button").off();
        }

        function ErrorDialogV2(title, message = null) {
            $("#errorModal-title").text(title || (message || ''));



            $("#errorModal").modal("show");
            const modalBackDropLast = $(".modal-backdrop").length - 1;
            //$(".modal-backdrop").get(modalBackDropLast).style['z-index'] = 1995;
        }

        function ErrorDialogV2Callback(title, message = null, callback = null) {
            ErrorDialogV2(title, message);
            $('#errorModal').on('hidden.bs.modal', () => {
                if (!callback) return;
                callback();
            });
        }

        function SuccessDialogV2(title, message = null, autoClosed = false) {
            $("#successModal-title").text(title || "¡Notificación!");
            $("#successModal-message").html(message || '');
            if (!message) {
                $("#successModal-message").hide();
            } else {
                $("#successModal-message").show();
            }

            $("#successModal").modal("show");
            const modalBackDropLast = $(".modal-backdrop").length - 1;
            //$(".modal-backdrop").get(modalBackDropLast).style['z-index'] = 1995;

            if (!autoClosed) return;
            window.setTimeout(() => { $("#successModal").modal("hide"); }, 5000);
        }

        function SuccessDialogV2Callback(title, message = null, callback = null) {
            SuccessDialogV2(title, message);
            $('#successModal').on('hidden.bs.modal', () => {
                if (!callback) return;
                callback();
            });
        }
    </script>

    <script src="{% static 'Content/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'Content/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Content/js/common/common.js' %}"></script>
    <script src="{% static 'Content/js/nifty.js' %}"></script>
    {%block extra_js%}{%endblock%}



    <script src="https://www.google.com/recaptcha/api.js?render=6LcFcqEUAAAAAMoQN_j0g7tiTS8IQbHcRXfWcyYh"></script>

    <script>

        $(document).ready(function () {

            $('.certificate-login-link').click(function () {
                window.location = 'https://certificate-vpfe.dian.gov.co/User/Login';
            });

            $('.list-group-item').click(function () {
                cleanFields();
            });

            var cleanFields = function () {
                $('.field-validation-error').html('');
                $('#DocumentKey').val('');
                $('#PersonCode').val('');
                $('#CompanyCode').val('');
                $('#UserCode').val('');
            };
            grecaptcha.ready(function () {
                grecaptcha.execute('6LcFcqEUAAAAAMoQN_j0g7tiTS8IQbHcRXfWcyYh', { action: 'adminLogin' }).then(function (token) {
                    $(".RecaptchaToken").val(token);
                });
            });
        });

    </script>


    <script type="text/javascript">



    </script>
    <style>
        #dian-loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(255, 255, 255, 0.7);
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 9999999;
        }

        #dian-loading img {
            width: 230px;
            /*height: 76px;*/
        }

        #dian-loading p {
            margin: 0;
            line-height: 24px;
            font-size: 18px;
            font-family: 'Work Sans';
            font-weight: bold;
            line-height: 40px;
            text-align: center;
            color: #262944;
        }
    </style>

    <div id="dian-loading">
        <img src="{% static 'Content/images/logoDian.png' %}">
        <p>Cargando información, por favor espere</p>
        <svg style="margin-top:3em" version="1.1" id="Layer_1" x="0px" y="0px" width="54px" height="60px"
            viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="10" width="4" height="10" fill="#41D78C" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                    repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                    repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
                    repeatCount="indefinite" />
            </rect>
            <rect x="8" y="10" width="4" height="10" fill="#41D78C" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                    repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                    repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                    repeatCount="indefinite" />
            </rect>
            <rect x="16" y="10" width="4" height="10" fill="#41D78C" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                    repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                    repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                    repeatCount="indefinite" />
            </rect>
        </svg>
    </div>

    <script>
        var spinnerVisible = false;
        function showDianLoading() {
            if (!spinnerVisible) {
                $("div#dian-loading").fadeIn("fast")
                    .css("display", "flex");
                spinnerVisible = true;
            }
        }

        function hideDianLoading() {
            if (spinnerVisible) {
                var spinner = $("div#dian-loading");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        }
    </script>
</body>

</html>