{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DIAN | Detalles del documento</title>

    <meta name="description" content="dian">
    <meta name="keywords" content="dian" />
    <meta name="author" content="Gosocket Corp SpA">
    <link rel="shortcut icon" href="/Content/img/favicon_dian.ico">
    
    <!--STYLESHEET-->
    <!--=================================================-->

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{%static 'Content/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{%static 'Content/css/nifty.min.css' %}" rel="stylesheet">
    <!--Font Awesome [ OPTIONAL ]-->
    <link href="/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Flag Icons [ OPTIONAL ]-->
    <link href="/Content/plugins/flag-icon-css/flag-icon.min.css" rel="stylesheet">
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <!--Chosen [ OPTIONAL ]-->
    <link href="/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
    <!--Select2 [ OPTIONAL ]-->
    <link href="/Content/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="/Content/css/gosocket/typeahead.css" rel="stylesheet" />
    <link href="/Content/css/daterangepicker.min.css" rel="stylesheet" />
    <!--DatePicker [ OPTIONAL ]-->
    <link href="/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <!--Gosocket Stylesheet [ REQUIRED ]-->
    <link href="/Content/css/gosocket/gosocket.css?v=2.9" rel="stylesheet">
    <link href="/Scripts/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="/Content/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet" type="text/css">

    
    <style>
        .container-md {
            background-color: #fff;
            margin: 0 35px;
            padding: 0 20px;
        }

        .text-wrap {
            word-wrap: break-word;
        }

        .btn-volver {
            color: #348441;
            margin-left: 35px;
            margin-bottom: 10px;
            margin-top: -15px;
            font-size: 16px;
        }
    </style>

    <script src="/Scripts/modernizr-2.6.2.js"></script>
<script src="/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div id="container" class="effect mainnav-md navbar-fixed">
        <!--NAVBAR-->
        <!--===================================================-->
        
        <!--===================================================-->
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <div id="page-alert">
                </div>
                



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/Content/js/common/common.js"></script>

<div class="btn-volver">
    < <a href="{%url 'search_document' %}" style="font-size:15px; text-decoration:underline;">Volver</a>
</div>

<div class="container-md">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><span class="h5">Factura electr&#243;nica</span></a></li>
    </ul>

    <div class="tab-content" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">
        <div id="home" class="tab-pane fade in active">
            <div>
                



<style>
    .cufe-text {
        overflow-wrap: break-word;
        width: auto;
    }

    .ContainerDownload {
        margin-top: 15px;
        margin-bottom: 15px;
        font-style: normal;
        font-size: 14px;
        line-height: 14px;
        color: #348441;
        cursor: pointer;
    }

    .render-row {
        border: hidden !important;
    }

    .subtitle-radian-status {
        font-weight: normal !important;
    }

    .line-bottom {
        border-bottom: 2px solid #E9E8E8;
    }

    .row-fe-details {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .row-fe-states {
        display: grid;
        font-size: 16px;
    }

    .radian-state-ef-line {
        width: 33px;
        height: 0px;
        border: 1px dashed #2C323C;
        margin-top: 20px;
    }

    .icon-card {
        display: grid;
    }

        .icon-card p {
            max-width: 95px;
            text-align: center;
            overflow-wrap: break-word;
        }
</style>

<!--Message-->
<!--===================================================-->
<div class="mar-top pad-no bg-white" id="html-gdoc" data-target="#html-gdoc" data-toggle="panel-overlay">

    <div style="display: none;" id="viewer-company-options"></div>
    <div class="fab-shadow"></div>

    <div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <div>
            <div class="row line-bottom row-fe-details" style="padding-bottom:14px">
                <div class="col-md-3" style="padding-left: 0;padding-top:7px;">
                    <img class="img-responsive" style="max-height: 130px;" src="{%static 'Content/img/Dian_logo_sin_texto.jpg'%}">
                </div>
                <div class="col-md-5" style="padding-top: 7px; padding-left: 0">
                    <span class="cufe-text">
                            <span>CUFE:</span>
                        {{electronic.cufe}}<br>
                    </span>
                </div>
                <div class="col-md-4" style="padding-top: 7px; padding-left: 0;">
                    <p style="text-align: right;">
                        <span class="tipo-doc"><b>Factura electr&#243;nica</b></span>
                        <br />
Serie: {{electronic.serie}}<br>                   Folio: {{electronic.folio}}<br>
Fecha de emisión de la factura Electrónica: {{electronic.fecha_emision|date:'d-m-Y'}}<br>                            
<a href="{{ electronic.pdf.url }}" class="downloadPDFUrl" style="font-size:15px; text-decoration:underline;" download>
                                <i class="fa fa-download"></i> Descargar PDF
                            </a>
                    </p>
                </div>
            </div>

            <div class="row line-bottom row-fe-details" style="padding-bottom:24px; padding-top:14px;">
                    <div class="col-md-4" style="padding: 0">
                        <p>
                            <span class="datos-receptor" style="font-weight: bold;">DATOS DEL EMISOR</span>
                            <br>
                            NIT: {{electronic.nit_emisor}}<br>
                            Nombre: {{electronic.nombre_emisor}}<br>
                        </p>
                    </div>
                    <div class="col-md-4" style="padding: 0">
                        <p>
                            <span class="datos-receptor" style="font-weight: bold;">DATOS DEL RECEPTOR</span>
                            <br>
                            NIT: {{electronic.nit_receptor}}<br>
                            Nombre: {{electronic.nombre_receptor}}<br>
                        </p>
                    </div>
                        <div class="col-md-4" style="padding-right: 0">
                            <p style="text-align: right;font-weight: bold;">
                                TOTALES E IMPUESTOS<br>
                            </p>
                            <p style="text-align: right;font-weight: bold;">
                                IVA: ${{electronic.iva}}<br>
                                Total: ${{electronic.total}}<br>
                            </p>
                        </div>
            </div>

        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="row" style="padding-top:24px">
            <h4 class="subtitle-radian-status">ESTADO EN EL REGISTRO DE FACTURAS ELECTRÓNICAS</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="display:inline-flex">
                                        <div class="icon-card">
                                            <div class="text-center padding-top-5">
                                                    <img src="{%static 'Content/images/Svg/EstadoFacturaElectronica.svg' %}" />
                                            </div>
                                            <p>Factura Electr&#243;nica</p>
                                        </div>
                </div>
            </div>
            <div class="col-md-4 row-fe-states">
                <span class="cufe-text">
                    Legítimo Tenedor actual: MARTINEZ RINCON FABIO
                </span>
            </div>
        </div>
    </div>


<div class="row mar-no line-bottom">
    <div class="col-sm-6 pad-no">
        <h4 class="margin-top-10">Validaciones del documento</h4>
    </div>
</div>
    <div class="table-responsive">

        <table class="documents-table table table-striped align-middle margin-bottom-0" data-int="0">
            <thead>
                <tr class="text-left">
                    <th>Nombre</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="text-left">
                        <td>Valida el identificador tributario del emisor</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="EL contenido de este elemento no corresponde a un contenido valido"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>Valida que el nombre del identificador tributario del emisor corresponda al c&#243;digo</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="El contenido de este elemento no corresponde al nombre y c&#243;digo valido."></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>Name</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="EL contenido de este elemento no corresponde al Nombre y codigo v&#225;lido."></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>CountrySubentity</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="El nombre no corresponde a un valor v&#225;lido de la lista"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>Notificaci&#243;n: Emisor es responsable: debe existir la informaci&#243;n correspondiente</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="No se encuentra el grupo TaxScheme del emisor"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>ID</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="EL contenido de este elemento no corresponde a un contenido valido de la lista correspondiente"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>CityName</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="El nombre no corresponde a un valor v&#225;lido de la lista"></span>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>


<style>
    a {
        text-decoration: none;
        color: #348441;
        outline: 0;
    }

    h4 {
        font-weight: bolder !important;
    }

    .pad-no {
        padding-left: 0px;
    }
</style>

<div id="container1-title" style="display:none;">
    <div class="row mar-no" style="border-bottom: 2px solid #E9E8E8;">
        <div class="col-sm-6 pad-no">
            <h4 class="margin-top-10">Eventos de la factura electrónica</h4>
        </div>
    </div>
    <div class="row mar-no">
        <div class="row mar-no">
            <div class="view-more-collapse">
                <u style="font-size: 15px; color: #348441;" onclick="showMore()">VER MÁS<a class="fa fa-angle-down" style="font-size: 16px; color: #348441;"></a></u>
            </div>
        </div>
    </div>
</div>

<div id="container1">
    <div class="row mar-no" style="border-bottom: 2px solid #E9E8E8;">
        <div class="col-sm-6 pad-no">
            <h4 class="margin-top-10">Eventos de la factura electrónica</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
                <tr style="background-color: transparent !important;">
                    <td class="text-nowrap text-center" colspan="12" style="padding-left: 0 !important; padding-right: 0 !important;">
                        <div class="alert panel-footer-grey">
                            No tiene eventos asociados.
                        </div>
                    </td>
                </tr>
        </table>
    </div>
</div>



                
            </div>
        </div>

            <div id="27ce09dd17cd5fd6e3e9c7aaf2929b7290c6cbe72b1ef6d2af8c97af47cb08e928f77bad53edb28ecd34323fee642b80" class="tab-pane fade">
                



<style>
    .cufe-text {
        overflow-wrap: break-word;
        width: auto;
    }

    .ContainerDownload {
        margin-top: 15px;
        margin-bottom: 15px;
        font-style: normal;
        font-size: 14px;
        line-height: 14px;
        color: #348441;
        cursor: pointer;
    }

    .render-row {
        border: hidden !important;
    }

    .subtitle-radian-status {
        font-weight: normal !important;
    }

    .line-bottom {
        border-bottom: 2px solid #E9E8E8;
    }

    .row-fe-details {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .row-fe-states {
        display: grid;
        font-size: 16px;
    }

    .radian-state-ef-line {
        width: 33px;
        height: 0px;
        border: 1px dashed #2C323C;
        margin-top: 20px;
    }

    .icon-card {
        display: grid;
    }

        .icon-card p {
            max-width: 95px;
            text-align: center;
            overflow-wrap: break-word;
        }
</style>

<!--Message-->
<!--===================================================-->
<div class="mar-top pad-no bg-white" id="html-gdoc" data-target="#html-gdoc" data-toggle="panel-overlay">

    <div style="display: none;" id="viewer-company-options"></div>
    <div class="fab-shadow"></div>

    <div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <div>
            <div class="row line-bottom row-fe-details" style="padding-bottom:14px">
                <div class="col-md-3" style="padding-left: 0;padding-top:7px;">
                    <img class="img-responsive" style="max-height: 130px;" src="{%static 'Content/img/Dian_logo_sin_texto.jpg' %}">
                </div>
                <div class="col-md-5" style="padding-top: 7px; padding-left: 0">
                    <span class="cufe-text">
                            <span>CUFE:</span>
                        27ce09dd17cd5fd6e3e9c7aaf2929b7290c6cbe72b1ef6d2af8c97af47cb08e928f77bad53edb28ecd34323fee642b80<br>
                    </span>
                </div>
                <div class="col-md-4" style="padding-top: 7px; padding-left: 0;">
                    <p style="text-align: right;">
                        <span class="tipo-doc"><b>Factura electr&#243;nica</b></span>
                        <br />
Serie: EF<br>                        Folio: 77<br>
Fecha de emisión de la factura Electrónica: 14-02-2022<br>                            <a href="/Document/DownloadPDF?trackId=27ce09dd17cd5fd6e3e9c7aaf2929b7290c6cbe72b1ef6d2af8c97af47cb08e928f77bad53edb28ecd34323fee642b80" class="downloadPDFUrl" style="font-size:15px; text-decoration:underline;">
                                <i class="fa fa-download"></i> Descargar PDF
                            </a>
                    </p>
                </div>
            </div>

            <div class="row line-bottom row-fe-details" style="padding-bottom:24px; padding-top:14px;">
                    <div class="col-md-4" style="padding: 0">
                        <p>
                            <span class="datos-receptor">DATOS DEL EMISOR</span>
                            <br>
                            NIT: 79591946<br>
                            Nombre: MARTINEZ RINCON FABIO<br>
                        </p>
                    </div>
                    <div class="col-md-4" style="padding: 0">
                        <p>
                            <span class="datos-receptor">DATOS DEL RECEPTOR</span>
                            <br>
                            NIT: 8301015281<br>
                            Nombre: CI VIVID GREEN S.A.S.<br>
                        </p>
                    </div>
                        <div class="col-md-4" style="padding-right: 0">
                            <p style="text-align: right;font-weight: bold;">
                                TOTALES E IMPUESTOS<br>
                            </p>
                            <p style="text-align: right;font-weight: bold;">
                                IVA: $0<br>
                                Total: $91,082,000<br>
                            </p>
                        </div>
            </div>

        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="row" style="padding-top:24px">
            <h4 class="subtitle-radian-status">ESTADO EN EL REGISTRO DE FACTURAS ELECTRÓNICAS</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="display:inline-flex">
                                        <div class="icon-card">
                                            <div class="text-center padding-top-5">
                                                    <img src="{%static 'Content/images/Svg/EstadoFacturaElectronica.svg' %}" />
                                            </div>
                                            <p>Factura Electr&#243;nica</p>
                                        </div>
                </div>
            </div>
            <div class="col-md-4 row-fe-states">
                <span class="cufe-text">
                    Legítimo Tenedor actual: MARTINEZ RINCON FABIO
                </span>
            </div>
        </div>
    </div>


<div class="row mar-no line-bottom">
    <div class="col-sm-6 pad-no">
        <h4 class="margin-top-10">Validaciones del documento</h4>
    </div>
</div>
    <div class="table-responsive">

        <table class="documents-table table table-striped align-middle margin-bottom-0" data-int="0">
            <thead>
                <tr class="text-left">
                    <th>Nombre</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="text-left">
                        <td>Valida el identificador tributario del emisor</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="EL contenido de este elemento no corresponde a un contenido valido"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>Valida que el nombre del identificador tributario del emisor corresponda al c&#243;digo</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="El contenido de este elemento no corresponde al nombre y c&#243;digo valido."></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>Name</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="EL contenido de este elemento no corresponde al Nombre y codigo v&#225;lido."></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>CountrySubentity</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="El nombre no corresponde a un valor v&#225;lido de la lista"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>Notificaci&#243;n: Emisor es responsable: debe existir la informaci&#243;n correspondiente</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="No se encuentra el grupo TaxScheme del emisor"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>ID</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="EL contenido de este elemento no corresponde a un contenido valido de la lista correspondiente"></span>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>CityName</td>
                        <td style="display:flex">
                            <label class="label label-primary">Notificaci&#243;n</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="El nombre no corresponde a un valor v&#225;lido de la lista"></span>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>


<style>
    a {
        text-decoration: none;
        color: #348441;
        outline: 0;
    }

    h4 {
        font-weight: bolder !important;
    }

    .pad-no {
        padding-left: 0px;
    }
</style>

<div id="container1-title" style="display:none;">
    <div class="row mar-no" style="border-bottom: 2px solid #E9E8E8;">
        <div class="col-sm-6 pad-no">
            <h4 class="margin-top-10">Eventos de la factura electrónica</h4>
        </div>
    </div>
    <div class="row mar-no">
        <div class="row mar-no">
            <div class="view-more-collapse">
                <u style="font-size: 15px; color: #348441;" onclick="showMore()">VER MÁS<a class="fa fa-angle-down" style="font-size: 16px; color: #348441;"></a></u>
            </div>
        </div>
    </div>
</div>

<div id="container1">
    <div class="row mar-no" style="border-bottom: 2px solid #E9E8E8;">
        <div class="col-sm-6 pad-no">
            <h4 class="margin-top-10">Eventos de la factura electrónica</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
                <tr style="background-color: transparent !important;">
                    <td class="text-nowrap text-center" colspan="12" style="padding-left: 0 !important; padding-right: 0 !important;">
                        <div class="alert panel-footer-grey">
                            No tiene eventos asociados.
                        </div>
                    </td>
                </tr>
        </table>
    </div>
</div>



            </div>
    </div>
</div>
<div class="tab-content">
    <div id="modifyWrapper">
    </div>
</div>


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--ASIDE-->
            <!--===================================================-->
            <!--===================================================-->
            <!--END ASIDE-->
        </div>
        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <!--===================================================-->
        <!-- Support phone -->
        <a id="support-tel" href="tel:600 600 0060" style="display: none; position: fixed;bottom: -210px;right: 10px;background-color: #696969;z-index: 4000;padding: 10px 10px 8px 10px;color: #ffffff;width: 210px;text-align: center;">Soporte <i class="fa fa-phone" aria-hidden="true"></i> : 600 600 0060</a>
        <a id="support-tel-pe" href="tel:0 801 10880" style="display: none; position: fixed;bottom: -210px;right: 10px;background-color: #696969;z-index: 4000;padding: 10px 10px 8px 10px;color: #ffffff;width: 210px;text-align: center;">Soporte <i class="fa fa-phone" aria-hidden="true"></i> : 0 801 10880</a>
        <!-- END Support phone -->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->

    <script src="{%static 'Content/js/jquery-2.1.1.min.js' %}"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{%static 'Content/js/bootstrap.min.js' %}"></script>
    <!--Nifty Admin [ RECOMMENDED ]-->
    <script src="{%static 'Content/js/nifty.js' %}"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--Select2 [ OPTIONAL ]-->
    <script src="/Content/plugins/select2/select2.min.js"></script>
    <script src="/Content/plugins/select2/i18n/es.js"></script>
    <!--Chosen [ OPTIONAL ]-->
    <script src="/Content/plugins/chosen/chosen.jquery.js"></script>
    <!--Handlebars [ REQUIRED ]-->
    <script src="/Content/plugins/handlebars/handlebars.js"></script>
    <!--Mail -->
    <script src="/Content/js/demo/mail.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="/Content/js/daterangepicker.min.js"></script>

    <script src="/Content/plugins/switchery/switchery.min.js"></script>

    <!--Gosocket Js [ REQUIRED ]-->
    <script src="/Content/js/gosocket/gosocket.js?1.6.10"></script>
    <script src="/Content/js/gosocket/typeahead.js"></script>
    <script src="/Content/plugins/bootbox/bootbox.min.js"></script>

    <script>

    </script>

    
    <script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>


    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="/Content/js/file-validator.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc1qwIkAAAAAB28xF_ffFUs4AUtV3013FbDu3t2"></script>

    <script src="/Content/js/file-validator.js"></script>
    <script src="/Content/js/Radian/RadianPrintDocumentPdf.js"></script>
    <script src="/Content/js/Radian/RadianIndex.js"></script>

    <script>

        function showModal(cude) {
            debugger;
            showPdfModalDirect(cude, '/Document/PrintGraphicRepresentation', "#panel-form_1");
        }

        function DescargarDoc(cude,fecha) {
            debugger;

            var code = '';
            var jsonData = { trackId: cude, code: code, fecha: fecha};
            $.ajax({
                url: '/Document/DownloadpdfFilesEventos',
                type: 'POST',
                cache: false,
                data: JSON.stringify(jsonData),
                contentType: "application/json",
                error: function (error) {
                    
                },
                success: function (response) {
                    debugger;
                    download(response.nombre, response.archivoZip);
                }
            });
           // window.location.href = "/Document/DownloadZipFilesEventos?trackId=" + cude + "&code=" + code + "&fecha=" + fecha;

        }
        function download(filename, data) {
            debugger;
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;base64,' + data);
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }
        $(document).ready(function () {
            showPdfModal("#show-document", "27ce09dd17cd5fd6e3e9c7aaf2929b7290c6cbe72b1ef6d2af8c97af47cb08e928f77bad53edb28ecd34323fee642b80", '/Document/PrintDocument', "#panel-form");
            $('#container1-title').hide();
            $('.document-row').click('onClick', function () {
                if (!$(this).hasClass('not-redirect')) {
                        var id = $(this).context.getAttribute('data-id');
                        var partitionKey = $(this).context.getAttribute('data-partitionKey');
                        window.location.href = "/Document/Details?trackId=" + id + "&partitionKey=" + partitionKey;
                }
                else
                    $(this).removeClass('not-redirect')
            });

            $(".eventView").click(function () {
                var documentKey = $(this).parent().find("#DocumentKey").val()
                $('#container1').fadeOut(200);
                GetEventsPartialView(documentKey);
                setTimeout(function () {
                    $('#divViewerPartial').css("height", "635px");
                    $('#divPageContent').css('max-height', '623px');
                }, 200)
            })

            $('#divViewMoreQueryList').hide();

              $(".download-support-document").click(function () {
                  var cufe = this.id;
                  showPdfModalClick(cufe, '/Document/PrintSupportDocument', '#html-gdoc');
            })
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function GetEventsPartialView(id) {
            var url = '/QueryAssociatedEvents/EventsView?id=' + id + "&cufe=" + '27ce09dd17cd5fd6e3e9c7aaf2929b7290c6cbe72b1ef6d2af8c97af47cb08e928f77bad53edb28ecd34323fee642b80'
            $.ajax({
                url: '/QueryAssociatedEvents/EventsView?id=' + id + "&cufe=" + '27ce09dd17cd5fd6e3e9c7aaf2929b7290c6cbe72b1ef6d2af8c97af47cb08e928f77bad53edb28ecd34323fee642b80',
                success: function (data, status, xhr) {
                    var injectingPartialView = xhr.getResponseHeader('InjectingPartialView');
                    if (injectingPartialView == "true") {
                        $('#modifyWrapper').html(data);
                        $('#modifyWrapper').fadeIn(300);
                        $('#container1-title').fadeIn(300);
                        $('[data-toggle="popover"]').popover();
                    }
                    else {
                        window.location.href = '/User/Login';
                    }
                }
            });

        };

        function changeTab(id) {
            window.location.href = "/Document/Details?trackId=" + id;
        }

        function darClick() {
            $('#modifyWrapper').fadeOut(300);
            $('#container1-title').fadeOut(300);
            $('#divViewerPartial').css('height', '');
            $('#divPageContent').css('max-height', '');
            $('#divChildrenModifyWrapper').css('padding-top', '');
            setTimeout(function () {
                $('#container1').fadeIn(300);
            }, 500);
        }

        function showMore() {
            $('#modifyWrapper').fadeOut(300);
            $('#container1-title').fadeOut(300);
            $('#divViewerPartial').css('height', '');
            $('#divPageContent').css('max-height', '');
            $('#divChildrenModifyWrapper').css('padding-top', '');
            setTimeout(function () {
                $('#container1').fadeIn(300);
            }, 500);
        }
    </script>


    <script type="text/javascript">

        window.onload = function () {
            document.addEventListener("contextmenu", function (e) {
                e.preventDefault();
            }, false);
            document.addEventListener("keydown", function (e) {
                //document.onkeydown = function(e) {
                // "I" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // Mac chrome
                if (e.altKey && e.metaKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // Mac firefox
                if (e.altKey && e.metaKey && e.keyCode == 75) {
                    disabledEvent(e);
                }
                // Mac safari
                if (e.altKey && e.metaKey && e.keyCode == 67) {
                    disabledEvent(e);
                }
                // "J" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    disabledEvent(e);
                }
                // "S" key + macOS
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    disabledEvent(e);
                }
                // "U" key
                if (e.ctrlKey && e.keyCode == 85) {
                    disabledEvent(e);
                }
                // "F12" key
                if (event.keyCode == 123) {
                    disabledEvent(e);
                }
            }, false);
            function disabledEvent(e) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
                e.preventDefault();
                return false;
            }
        };

    </script>
    <style>
    #dian-loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(255,255,255,0.7);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999999;
    }

        #dian-loading img {
            width: 230px;
            /*height: 76px;*/
        }

        #dian-loading p {
            margin: 0;
            line-height: 24px;
            font-size: 18px;
            font-family: 'Work Sans';
            font-weight: bold;
            line-height: 40px;
            text-align: center;
            color: #262944;
        }
</style>

<div id="dian-loading">
    <img src="{%static 'Content/images/logoDian.png' %}">
    <p>Cargando información, por favor espere</p>
    <svg style="margin-top:3em" version="1.1" id="Layer_1" x="0px" y="0px"
         width="54px" height="60px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
    <rect x="0" y="10" width="4" height="10" fill="#41D78C" opacity="0.2">
    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
            </rect>
    <rect x="8" y="10" width="4" height="10" fill="#41D78C" opacity="0.2">
    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            </rect>
    <rect x="16" y="10" width="4" height="10" fill="#41D78C" opacity="0.2">
    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            </rect>
        </svg>
</div>

<script>
    var spinnerVisible = false;
    function showDianLoading() {
        if (!spinnerVisible) {
            $("div#dian-loading").fadeIn("fast")
                .css("display", "flex");
            spinnerVisible = true;
        }
    }

    function hideDianLoading() {
        if (spinnerVisible) {
            var spinner = $("div#dian-loading");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    }
</script>
</body>
</html>