{% extends 'base.html' %}
{%load static%}
{% block title %}
DIAN |
{% endblock title %}
{%block content%}
<div class="bhoechie-tab cardsLogin">
    <div class="bhoechie-tab-content active" id="panel-form-login">
        <span class="sub-title">Iniciar sesión</span>
        <p class="mt-28">Selecciona una opción para continuar:</p>

        <div id="menu-container">
            <button class="menu-button" id="legalRepresentative">
                <img src="{% static 'Content/img/login-icons/LegalRepresentative.svg' %}" height="77">
                Representante legal
            </button>
            <button class="menu-button" id="authorizedUser">
                <img src="{% static 'Content/img/login-icons/AuthorizedUser.svg' %}" height="77">
                Usuario Autorizado
            </button>
        </div>
    </div>

    <!-- company section -->
    <div class="companyLogin pxLogin" style="display: none;">
        <div class="bhoechie-tab-content active">
            <span class="sub-title">Iniciar sesión</span>
            <p class="mt-28">Por favor diligencia los siguientes datos:</p>

            <form action="{%url 'company_login' %}" id="form0" method="post" novalidate="novalidate">
                {%csrf_token%}
                <input name="__RequestVerificationToken" type="hidden"
                    value="tc1JQ4izwhRh8Ipw7x8yfiosnS0NUHRS7n-6hRw7mOMcOMP7VLBl7XnB8b9p06tRGp3gpxaq-bmyWr7fLE_nnXvg00VEEkkyvAdyQ8N9pkY1"><input
                    class="RecaptchaToken" id="CompanyRecaptchaToken" name="RecaptchaToken" type="hidden"
                    value="03AD1IbLCBaQED9iK1aKYLDXCAwyTkJSJAbOEzejTKbP7cwYUymmfZ4eS9f57FrcCTbmvQogtPGElrXnxj3jheu9ck7_WGyBL-9ryp2PwEqflZKhsc4-T3xaCEmWW1FeHleWlb2O2MFUgc_t1RjlwaZhfmi9iJj_Vx6zYNMs_mYpAwiWtEvS5892EgehgVT5Xc8YOvYeiKMqLKHwSpbUplgljTVfqMDiJrAwE9peRwvatdCnpx7Vd-oxUNGmuFqJA2PPUkwasbjZBmaV6nbPinaUERAzadvR6rsplI4krFoXDnYyO1dW312gKRRnoWxW6ez7kWaUDjgqqiyKrERmIvAtJp4VqExy0eXpSw0RnC-vJtlNunqRGcDjas7wqTaFqdS7yghUVEZ5rB90vrSsuYkxDbsElY2NxDMnqjeUX9zVfuKi6b6j_kTU51-gJv771zzfKDmtNdCL8Y6sDKrtSHW-Etq8ku1GTsJVXG5AIH6LW1_n8cQfVzdSpTP6ObaVj6-pmJgOV_pTB3">
                <div class="form-group">
                    <label class="control-label" for="IdentificationType">Tipo de identificación</label>
                    <select class="form-control selectpicker" data-val="true"
                        data-val-number="The field Tipo de identificación must be a number."
                        data-val-required="The Tipo de identificación field is required." id="CompanyIdentificationType"
                        name="IdentificationType">
                        <option value="10910036">Certificado Registraduría sin identificación</option>
                        <option value="10910092">Registro civil</option>
                        <option value="10910093">Tarjeta de identidad</option>
                        <option selected="selected" value="10910094">Cédula de ciudadanía</option>
                        <option value="10910095">Tarjeta de extranjería</option>
                        <option value="10910096">Cédula de extranjería</option>
                        <option value="10910097">NIT</option>
                        <option value="10910098">Pasaporte</option>
                        <option value="10910366">Tipo de documento desconocido</option>
                        <option value="10910394">Documento de identificación extranjero</option>
                        <option value="10910402">Nit de otro país</option>
                        <option value="10910403">NIUP</option>
                        <option value="10930954">PEP</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="UserCode">NIT Representante Legal</label>
                    <input autocomplete="off" class="form-control" data-val="true"
                        data-val-required="El NIT de representante legal es requerido." id="UserCode" name="UserCode"
                        placeholder="Ingrese la identificación del representante legal" type="text" value="">
                    <span class="field-validation-valid " data-valmsg-for="UserCode" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="CompanyCode">NIT Empresa</label>
                    <input autocomplete="off" class="form-control" data-val="true"
                        data-val-required="El NIT de empresa es requerido." id="CompanyCode" name="CompanyCode"
                        placeholder="Ingrese el Nit de la empresa" type="text" value="">
                    <span class="field-validation-valid " data-valmsg-for="CompanyCode"
                        data-valmsg-replace="true"></span>
                    <span class="field-validation-valid " data-valmsg-for="CompanyLoginFailed"
                        data-valmsg-replace="true"></span>
                </div>
                <button class="btn btn-primary" style="margin-top: 40px;">
                    Entrar
                </button>
            </form>
        </div>
    </div>
    <!-- company section -->
    <div class="userExLogin pxLogin" style="display: none;">
        <div class="bhoechie-tab-content active">
            <span class="sub-title">Iniciar sesión</span>
            <p class="mt-28">Por favor diligencia los siguientes datos:</p>

            <form action="{%url 'authorized_user' %}" data-ajax="true" data-ajax-begin="OnBeginAjax"
                data-ajax-failure="OnFailureAjax" data-ajax-method="POST" data-ajax-success="OnSuccessAjax" id="form1"
                method="post" novalidate="novalidate" data-bitwarden-watching="1">
                {%csrf_token%}
                <input
                    name="__RequestVerificationToken" type="hidden"
                    value="vuOmhVjGP3MpcxhxfAyXotNRxYC1VHYFFpRpKUB-OzUvNTCqGgdXATrM_8ZYiucEKJ6RWfDrV39uUMiKpJZ1pXlYqXCQvfeLiF8dOgj-9zo1"><input
                    class="RecaptchaToken" id="CompanyRecaptchaToken" name="RecaptchaToken" type="hidden"
                    value="03AD1IbLCBaQED9iK1aKYLDXCAwyTkJSJAbOEzejTKbP7cwYUymmfZ4eS9f57FrcCTbmvQogtPGElrXnxj3jheu9ck7_WGyBL-9ryp2PwEqflZKhsc4-T3xaCEmWW1FeHleWlb2O2MFUgc_t1RjlwaZhfmi9iJj_Vx6zYNMs_mYpAwiWtEvS5892EgehgVT5Xc8YOvYeiKMqLKHwSpbUplgljTVfqMDiJrAwE9peRwvatdCnpx7Vd-oxUNGmuFqJA2PPUkwasbjZBmaV6nbPinaUERAzadvR6rsplI4krFoXDnYyO1dW312gKRRnoWxW6ez7kWaUDjgqqiyKrERmIvAtJp4VqExy0eXpSw0RnC-vJtlNunqRGcDjas7wqTaFqdS7yghUVEZ5rB90vrSsuYkxDbsElY2NxDMnqjeUX9zVfuKi6b6j_kTU51-gJv771zzfKDmtNdCL8Y6sDKrtSHW-Etq8ku1GTsJVXG5AIH6LW1_n8cQfVzdSpTP6ObaVj6-pmJgOV_pTB3">
                <div class="form-group">
                    <label class="control-label" for="CompanyCode">NIT Empresa</label>
                    <input autocomplete="off" class="form-control" data-val="true"
                        data-val-required="El NIT de empresa es requerido." id="CompanyCode" name="CompanyCode"
                        placeholder="Nit Autorizador" type="text" value="">
                    <span class="field-validation-valid " data-valmsg-for="CompanyCode"
                        data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="IdentificationType">Tipo de identificación</label>
                    <select class="form-control selectpicker" data-val="true"
                        data-val-number="The field Tipo de identificación must be a number."
                        data-val-required="The Tipo de identificación field is required." id="IdentificationType"
                        name="IdentificationType">
                        <option value="">Seleccione el tipo de documento del Usuario Autorizado...</option>
                        <option value="10910036">Certificado Registraduría sin identificación</option>
                        <option value="10910092">Registro civil</option>
                        <option value="10910093">Tarjeta de identidad</option>
                        <option selected="selected" value="10910094">Cédula de ciudadanía</option>
                        <option value="10910095">Tarjeta de extranjería</option>
                        <option value="10910096">Cédula de extranjería</option>
                        <option value="10910097">NIT</option>
                        <option value="10910098">Pasaporte</option>
                        <option value="10910366">Tipo de documento desconocido</option>
                        <option value="10910394">Documento de identificación extranjero</option>
                        <option value="10910402">Nit de otro país</option>
                        <option value="10910403">NIUP</option>
                        <option value="10930954">PEP</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="UserCode">NIT Representante Legal</label>
                    <input autocomplete="off" class="form-control" data-val="true"
                        data-val-required="El NIT de representante legal es requerido." id="UserCode" name="UserCode"
                        placeholder="N° Documento Usuario Autorizado" type="text" value="">
                    <span class="field-validation-valid " data-valmsg-for="UserCode" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Password">Contraseña</label>
                    <input autocomplete="off" class="form-control" data-val="true"
                        data-val-required="La contraseña es requerida" id="Password" name="Password"
                        placeholder="Ingrese su contraseña" type="password">
                    <span class="field-validation-valid " data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    <span class="field-validation-valid " data-valmsg-for="CompanyLoginFailed"
                        data-valmsg-replace="true"></span>
                </div>
                <div style="margin-top:40px">
                    <button type="submit" id="login-auth-user" class="btn btn-primary">
                        Entrar
                    </button>
                    <div class="left-section textRecovery" style="float: right; margin-top: 6px">
                        <button type="button" id="forgot-password" class="btn-link btn-link-recovery">Olvidé mi contraseña</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" style="z-index: 2000 !important; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body flex-direction-column align-items-center justify-content-center">
                    <img height="170" src="{%static 'Content/Images/icon-warning-warn.svg' %}">
                    <div class="dian-alert dian-alert-danger flex-direction-column align-items-center mt-28">
                        <span id="errorModal-title" class="sub-title text-center">Número de documento y tipo de identificación no coinciden.</span>
                        <p id="errorModal-message" style="word-break: break-all;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




{%endblock%}

{%block extra_js%}
<script src="{% static 'Scripts/jquery.validate.js' %}"></script>
<script src="{% static 'Scripts/jquery_validate_unobtrusive.js' %}"></script>
<script>

    $(document).ready(function () {

        let mod = document.getElementById("errorModal")
        let mess = mod.querySelector("#errorModal-title")

        let form00=document.getElementById("form0")
        form00.addEventListener("submit",(e)=>{
            e.preventDefault()
            let url = form00.getAttribute("action")
            let formData = new FormData(form00)
            fetch(url,{
                method: "POST",
                body: formData,
            }).then(response => response.json())
            .then(res =>{
                if(res.ok){
                    mess.innerHTML = res.ok
                    $("#errorModal").modal("show");
                }else{
                    console.log("...")
                }
            }).catch(err =>{
            console.log("Error en la solicitud: ",err)
            })
        })

        let form11=document.getElementById("form1")
        form11.addEventListener("submit",(e)=>{
            e.preventDefault()
            let url = form11.getAttribute("action")
            let formData = new FormData(form11)
            fetch(url,{
                method: "POST",
                body: formData,
            }).then(response => response.json())
            .then(res =>{
                if(res.ok){
                    mess.innerHTML = res.ok
                    $("#errorModal").modal("show");
                }else{
                    console.log("...")
                }
            }).catch(err =>{
            console.log("Error en la solicitud: ",err)
            })
        })

        var htmlPartial = "\r\n\r\n<div class=\"page-content\">\r\n    <div class=\"title-container\">\r\n        <p class=\"sub-title\">\r\n            Recuperar contrase&#241;a\r\n        </p>\r\n        \r\n    </div>\r\n    <div class=\"margin-horizontal-0 margin-top-50\">\r\n        <div class=\"panel\" id=\"panel-form\" data-target=\"#panel-form\" data-toggle=\"panel-overlay\">\r\n            <div class=\"padding-20\">\r\n                <div class=\"padding-bottom-0\">\r\n                    <div class=\"margin-horizontal-0\">\r\n<form action=\"/User/RecoveryPasswordInvoice\" id=\"forgot-pasword-form\" method=\"post\">                            <div class=\"row\">\r\n                                <div class=\"form-group \">\r\n                                    <label class=\"control-label\" for=\"CompanyIdentificationTypeRecover\">Tipo de identificaci&#243;n</label>\r\n                                    <select class=\"form-control selectpicker\" data-val=\"true\" data-val-number=\"The field Tipo de identificación must be a number.\" data-val-required=\"The Tipo de identificación field is required.\" id=\"CompanyIdentificationTypeRecover\" name=\"CompanyIdentificationTypeRecover\"><option value=\"10910036\">Certificado Registradur&#237;a sin identificaci&#243;n</option>\r\n<option value=\"10910092\">Registro civil</option>\r\n<option value=\"10910093\">Tarjeta de identidad</option>\r\n<option value=\"10910094\">C&#233;dula de ciudadan&#237;a</option>\r\n<option value=\"10910095\">Tarjeta de extranjer&#237;a</option>\r\n<option value=\"10910096\">C&#233;dula de extranjer&#237;a</option>\r\n<option value=\"10910097\">NIT</option>\r\n<option value=\"10910098\">Pasaporte</option>\r\n<option value=\"10910366\">Tipo de documento desconocido</option>\r\n<option value=\"10910394\">Documento de identificaci&#243;n extranjero</option>\r\n<option value=\"10910402\">Nit de otro pa&#237;s</option>\r\n<option value=\"10910403\">NIUP</option>\r\n<option value=\"10930954\">PEP</option>\r\n</select>\r\n                                </div>\r\n                            </div>\r\n                            <div class=\"row\">\r\n                                <div class=\"form-group\">\r\n                                    <label class=\"control-label\" for=\"DocumentNumber\">Documento Usuario Registrado</label>\r\n                                    <input autocomplete=\"off\" class=\"form-control\" data-val=\"true\" data-val-maxlength=\"Máximo Documento Usuario Registrado caracteres\" data-val-maxlength-max=\"30\" data-val-regex=\"El valor Documento Usuario Registrado debe ser numérico\" data-val-regex-pattern=\"([0-9]+)\" id=\"DocumentNumber\" name=\"DocumentNumber\" placeholder=\"Documento registrado\" type=\"text\" value=\"\" />\r\n                                    <span class=\"field-validation-valid text-dangert\" data-valmsg-for=\"DocumentNumber\" data-valmsg-replace=\"true\"></span>\r\n                                </div>\r\n                            </div>\r\n                            <div class=\"row\">\r\n                                <div class=\"form-group\">\r\n                                    <label class=\"control-label\" for=\"EmailRemember\">Correo electr&#243;nico</label>\r\n                                    <input autocomplete=\"off\" class=\"form-control\" id=\"EmailRemember\" name=\"EmailRemember\" placeholder=\"Correo registrado\" type=\"text\" value=\"\" />\r\n                                    <span class=\"field-validation-valid text-dangert\" data-valmsg-for=\"EmailRemember\" data-valmsg-replace=\"true\"></span>\r\n                                </div>\r\n                            </div>\r\n                            <div class=\"text-center submit-container\">\r\n                                <button id=\"submitRememberPassword\" class=\"btn btn-success btn-radian-success\" style=\"color: #262944 !important; background: #41D78C !important; margin-right:20px\">Recuperar contraseña</button>\r\n                                <button id=\"btnCancel\" class=\"btn btn-secondary\" style=\"font-size:14px !important;\">Cancelar</button>\r\n                            </div>\r\n</form>                    </div>\r\n                </div>\r\n            </div>\r\n        </div>\r\n    </div>\r\n</div>\r\n";
        $(".cardsLogin").show();
        if (location.href.indexOf('tlogin=1') > 0) {
            showLoading("#panel-forma", "Validando datos", "Por favor esperar");
            $(".pxLogin").hide();
            $("#panel-form-login").hide();
            $(".companyLogin").show();
            hideLoading("#panel-forma");
        }
        else {
            $(".pxLogin").hide();

            $('.cCompany').click(function () {
                $("#panel-form-login").show();
                $(".pxLogin").hide();
            });

            $('#legalRepresentative').click(function () {
                $("#panel-form-login").hide();
                $(".companyLogin").show();
                cleanFields();
            });

            $('#authorizedUser').click(function () {
                $("#panel-form-login").hide();
                $(".userExLogin").show();
                cleanFields();
            });

            $('.certificate-login-link').click(function () {
                window.location = 'https://certificate-vpfe.dian.gov.co/User/Login';
            });

            $('.list-group-item').click(function () {
                cleanFields();
            });
        }

        var cleanFields = function () {
            $('.field-validation-error').html('');
            $('#DocumentKey').val('');
            $('#PersonCode').val('');
            $('input[name="CompanyCode"]').val('');
            $('input[name="UserCode"]').val('');
            $('#Password').val('');
        };
        rememberPassword(htmlPartial, '/User/RecoveryPassword');
        // grecaptcha.ready(function () {
        //     grecaptcha.execute('6LcFcqEUAAAAAMoQN_j0g7tiTS8IQbHcRXfWcyYh', { action: 'adminLogin' }).then(function (token) {
        //         $(".RecaptchaToken").val(token);
        //     });
        // });
        
    });

</script>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Lc1qwIkAAAAAB28xF_ffFUs4AUtV3013FbDu3t2"></script>
<script>
grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6Lc1qwIkAAAAAB28xF_ffFUs4AUtV3013FbDu3t2', {action: 'login'}).then(function(token) {
        $(".RecaptchaToken").val(token);
    });
});
</script>
<script>
    function ConfirmDialogV2(title, message, buttons, confirmCallback, cancelCallback = null) {
        $("#confirmModal-title").text(title || "¿Está seguro que desea realizar esta operación?");
        $("#confirmModal-message").html(message || "");
        $("#confirmModal-confirm-button").text(buttons?.confirm ?? "Confimar");
        $("#confirmModal-cancel-button").text(buttons?.cancel ?? "Cancelar");

        $("#confirmModal").modal("show");
        const modalBackDropLast = $(".modal-backdrop").length -1;
        //$(".modal-backdrop").get(modalBackDropLast).style['z-index'] = 1995;

        $("#confirmModal-confirm-button").on('click', () => {
            if (confirmCallback != null) {
                confirmCallback();
            }
            $("#confirmModal").modal("hide");
            removeOkClickEvent();
        });
        $("#confirmModal-cancel-button").on('click', () => {
            if (cancelCallback != null) {
                cancelCallback();
            }
            removeOkClickEvent();
        });
        $("#confirmModal").find(".close").on('click', () => {
            if (cancelCallback != null) {
                cancelCallback();
            }
            removeOkClickEvent();
        });
        $('#confirmModal').on('hidden.bs.modal', () => {
            removeOkClickEvent();
        });
    }
    function removeOkClickEvent() {
        $("#confirmModal-confirm-button").off();
        $("#confirmModal-cancel-button").off();
    }

    function ErrorDialogV2(title, message = null) {
        $("#errorModal-title").text(title || (message || ''));
        


        $("#errorModal").modal("show");
        const modalBackDropLast = $(".modal-backdrop").length - 1;
        //$(".modal-backdrop").get(modalBackDropLast).style['z-index'] = 1995;
    }

    function ErrorDialogV2Callback(title, message = null, callback = null) {
        ErrorDialogV2(title, message);
        $('#errorModal').on('hidden.bs.modal', () => {
            if (!callback) return;
            callback();
        });
    }

    function SuccessDialogV2(title, message = null, autoClosed = false) {
        $("#successModal-title").text(title || "¡Notificación!");
        $("#successModal-message").html(message || '');
        if (!message) {
            $("#successModal-message").hide();
        } else {
            $("#successModal-message").show();
        }

        $("#successModal").modal("show");
        const modalBackDropLast = $(".modal-backdrop").length - 1;
        //$(".modal-backdrop").get(modalBackDropLast).style['z-index'] = 1995;

        if (!autoClosed) return;
        window.setTimeout(() => { $("#successModal").modal("hide"); }, 5000);
    }

    function SuccessDialogV2Callback(title, message = null, callback = null) {
        SuccessDialogV2(title, message);
        $('#successModal').on('hidden.bs.modal', () => {
            if (!callback) return;
            callback();
        });
    }
</script>

{%endblock%}
