{% extends 'base.html' %}
{% block title %}
DIAN | Acceder
{% endblock title %}
{%block content%}
<div class="bhoechie-tab">
    <!-- admin section -->
    <div class="bhoechie-tab-content active">
        <span class="sub-title">Iniciar sesión</span>
        <p class="mt-28">Por favor diligencia los siguientes datos:</p>

        <form method="post" action="{%url 'login' %}" style="margin-top: 20px;">
            {%csrf_token%}
            <input name="__RequestVerificationToken" type="hidden"
                value="MnDQ1Oihiv8PZPxHZUwkgY-qmOGenX9d87JvD2nwzbuAucWrt_AxkZgt5CuVUNAmyW6tPH59h08YwIQbEjYrW7hBRINSw8yc1_rFUFtO9k41" />
            <input class="RecaptchaToken" id="AdminRecaptchaToken" name="RecaptchaToken" type="hidden"
                value="" />
            <div class="form-group">
                <label class="control-label" for="Email">Correo electr&#243;nico</label>
                <input autocomplete="off" class="form-control" data-val="true"
                    data-val-email="Correo electrónico inválido"
                    data-val-required="El correo electrónico es requerido" id="Email" name="Email"
                    placeholder="Escribe aquí el correo" type="text" value="" />
                <span class="field-validation-valid " data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Password">Contrase&#241;a</label>
                <input autocomplete="off" class="form-control" data-val="true"
                    data-val-required="La contraseña es requerida" id="Password" name="Password"
                    placeholder="Ingrese la contraseña" type="password" />
                <span class="field-validation-valid " data-valmsg-for="Password"
                    data-valmsg-replace="true"></span>
                <span class="field-validation-valid " data-valmsg-for="AdminLoginFailed"
                    data-valmsg-replace="true"></span>
                    {% if messages %}
                    {% for message in messages %}
                    <span class="field-validation-error " data-valmsg-for="DocumentKey" data-valmsg-replace="true">{{message}}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <button class="btn btn-primary" style="margin-top: 40px;">
                Entrar
            </button>
        </form>
    </div>
</div>
{%endblock%}
