{% extends 'base.html' %}
{%load static%}
{% block title %}
DIAN | Acceder
{% endblock title %}
{%block content%}
<div class="bhoechie-tab">
    <!-- person section -->
    <div class="bhoechie-tab-content active">
        <span class="sub-title">Iniciar sesión</span>
        <p class="mt-28">Por favor diligencia los siguientes datos:</p>

        <form method="post" action="{% url 'person_login' %}" style="margin-top: 20px;">
            {%csrf_token%}
            <input name="__RequestVerificationToken" type="hidden"
                value="CgRTm3KyAt726GURfqXQsYnzMCs8pCxPZuabKIDUDznAFCI-O-KzSRYYOMqb_oO7zNUsnuJQhFZO1nYV9ncSpLc43MKT4WAmvFXrckYxWSE1">
            <input class="RecaptchaToken" id="PersonRecaptchaToken" name="RecaptchaToken" type="hidden"
                value="03AD1IbLCn-a9nHxGPt382i1U4FrCyyIiGPuiMziifmFkBJOQTiwfqSVdPzx_dDEsdSjrWg3AmP1gitg0vzGH3cgC8Dn0x-KyXdWtiNsdlRC0er-oi3BRrCfrzisnkBqa2OwpMdVAP8iC6pOnnveYPZcRJRS3a38WGSgCFwjut6NDCZB7HQYRZAKixyBZc1uv96iEB-ioiyYCsOO2JpMbS-I3CaeEfqstc8Sr52ScA2WXDNUIdtnxTqfypwfskyp-t3ER04fxfKFSaAfjeN8VRysJMrwk_Ykv0hnX6DCzPt0oge8_ic1xr5gAOOR1tIqgKGfCsfFzD2H_E5vLFMeLad5KhHWH3ibMVBVRF3iYy5i_Qjs0uMt56Yvbk2tbY3JcDnmpF01_coQpVOPjDSRQxVK1BOCWWlN0dpzxXuuxnhUmh5zBan8uVuwr1h4SGQbdy4llkh-qj7A2czsO-DCccNP7o4I40RxvFsRlBgrOs4RmWoeRfL6ABvrOwJGSx47p_XI-Z_PrRsmtZ">
            <div class="form-group">
                <label class="control-label" for="IdentificationType">Tipo de identificación</label>
                <select class="form-control selectpicker" data-val="true"
                    data-val-number="The field Tipo de identificación must be a number."
                    data-val-required="The Tipo de identificación field is required." id="PersonIdentificationType"
                    name="IdentificationType">
                    <option value="10910036">Certificado Registraduría sin identificación</option>
                    <option value="10910092">Registro civil</option>
                    <option value="10910093">Tarjeta de identidad</option>
                    <option selected="selected" value="10910094">Cédula de ciudadanía</option>
                    <option value="10910095">Tarjeta de extranjería</option>
                    <option value="10910096">Cédula de extranjería</option>
                    <option value="10910097">NIT</option>
                    <option value="10910098">Pasaporte</option>
                    <option value="10910366">Tipo de documento desconocido</option>
                    <option value="10910394">Documento de identificación extranjero</option>
                    <option value="10910402">Nit de otro país</option>
                    <option value="10910403">NIUP</option>
                    <option value="10930954">PEP</option>
                </select>
            </div>
            <div class="form-group">
                {% if messages %}
                    {% for message in messages %}
                    <label class="control-label" for="PersonCode">Cédula del contribuyente</label>
                    <input autocomplete="off" class="input-validation-error form-control" data-val="true" data-val-required="Cédula del contribuyente es requerido." id="PersonCode" name="PersonCode" placeholder="Ingrese la identificación del contribuyente" type="text" value="">
                    <span class="field-validation-error " data-valmsg-for="PersonCode" data-valmsg-replace="true">{{message}}</span>
                    {% endfor %}
                    {%else%}
                    <label class="control-label" for="PersonCode">Cédula del contribuyente</label>
                    <input autocomplete="off" class="form-control" data-val="true"
                    data-val-required="Cédula del contribuyente es requerido." id="PersonCode" name="PersonCode"
                    placeholder="Ingrese la identificación del contribuyente" type="text" value="">

                {% endif %}
            </div>

            <button class="btn btn-primary" style="margin-top: 40px;">
                Entrar
            </button>
        </form>

    </div>
</div>
{%endblock%}