{% extends 'base.html' %}
{%load static%}
{% block title %}
DIAN | Acceder
{% endblock title %}
{%block content%}
<div class="bhoechie-tab">
    <!-- search section -->

    <div class="bhoechie-tab-content active">
        <span class="sub-title">Buscar documento</span>
        <p class="mt-28">Por favor diligencia los siguientes datos:</p>

        <form id="search-document-form" method="post" action="{%url 'search_document' %}" style="margin-top: 20px;">
            {%csrf_token%}
            <input name="__RequestVerificationToken" type="hidden"
                value="ss5uDPGSJWPNR0yF20SOd5-RaXhVMlGh0uQaa0sk-6tiQlLfZOHQJlPcOZc8lSpt--WgB9MFQ91COTUAMwlV0ifvtritbOgJvhtKMIpNHq81">
            <input class="RecaptchaToken" id="RecaptchaToken" name="RecaptchaToken" type="hidden"
                value="03AD1IbLB0fGLmoMaYqiKm2BtrjIbV8Q_tfTb9rxj4GdtofXOvzAGL_UOrjUBLFO1NV6rVjzkDAc2dcw67_797SyM4HRk7Hn7MABbwiWfgkSjPSQYhiOUov5TMeYW4xWNVmPGuTpk6nyxmeDuWx1zXTENhiwAwwtYx_CL5upj4AzeBNUmi8hXyfJVHD0biMo_l6Kbk8LcTtRnr_nqNUCl77adyTfDbmvhdqpBljBMVZK8AbK3tNavQlSVKPG_U5S4sh3tJBEXpw-4qLGZpey42uC1s4fjS6LsknMn5G5GIkoWV4AilnTI6atiJ6ZhTBmtD148aBIEbSF4dlDUS77e4HRrkXZV-hfCTP1r0t69godFpq-0OBEe5l8lXU7DuJ8zj-CefaBmzRT9QN-zfINL8zbduNA1rNNaFJhzYMYMyROPsyF7i6DGj_JweWE3GOPZ9IK_s2krPC_H0BuJ03Bto0l1qPNoBuwKVenbjxGoS8MqyFmD1lyiZPBivlNvlJXDC9y7Gg3D5vxLC">
            <div class="form-group">
                    {% if messages %}
                    {% for message in messages %}
                    <label class="control-label" for="DocumentKey">CUFE o UUID</label>
                    <input autocomplete="off" autofocus="" class="input-validation-error form-control" data-val="true" data-val-required="CUFE o UUID es requerido." id="DocumentKey" name="DocumentKey" placeholder="Ingrese el código CUFE o UUID" type="text" value="">
                    <span class="field-validation-error " data-valmsg-for="DocumentKey" data-valmsg-replace="true">{{message}}</span>
                    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                    {% endfor %}
                    {%else%}
                    <label class="control-label" for="DocumentKey">CUFE o UUID</label>
                    <input autocomplete="off" autofocus="" class="form-control" data-val="true"
                        data-val-required="CUFE o UUID es requerido." name="DocumentKey" id="DocumentKey" name="DocumentKey"
                        placeholder="Ingrese el código CUFE o UUID" type="text" value="">
                {% endif %}
            </div>

            

            <button class="btn btn-primary search-document margin-top-40">
                Buscar
            </button>
        </form>
    </div>



</div>
{%endblock%}